{% extends "base_layout.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
    <h1 class="my-4">{% trans "Tasks" %}</h1>
    <a class="btn mb-3" style="background-color: #20c997; color: white" href="{% url 'task_create' %}">{% trans "Create task" %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% bootstrap_form filter.form %}
                <input class="btn" style="background-color: #20c997; color: white" type="submit" value="{% trans 'Show' %}">
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Executor" %}</th>
                <th>{% trans "Created at" %}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a class="link" style="color: #008080" href="{% url 'task_overview' task.id %}">{{ task.name }}</a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor|default:"" }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a class="link" style="color: #008080" href="{% url 'task_update' task.id %}">{% trans "Update" %}</a>
                    <br>
                    <a class="link" style="color: #008080" href="{% url 'task_delete' task.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}